    body
    {
        background-color:rgb(240, 248, 255);
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
        font-weight: bolder;
        list-style: none;
    }
    #mynavbar li
    {
        margin-left: 12px;
        margin-right: 12px;
        font-weight: bolder;
        justify-content: center;
    }
    #mynavbar li a
    {
        color: rgb(248, 194, 194);
    }
    #mynavbar li a:hover
    {
        color: rgb(56, 226, 41);
    }   
    #mynavbar
    {
        margin-left: 25%;
        text-align: center;
    }
    .ournavbar
    {
        background-color: rgb(226, 68, 68);
    }
    #Hithere
    {
        border-radius: 6px;
        text-align: start;
    }
    .aboutsection
    {
        text-align: center;
        text-transform:capitalize;
        background-color: rgb(102, 97, 97,0.6);
        border-radius: 10px;    
        margin-left: 12%;
        margin-right: 12%;
        padding-top: 24px;
        padding-bottom: 24px;
        color: rgb(4, 41, 78);
    }
    .aboutsection p
    {
        padding: 12px;
    }
    .contentpage
        {
            background-color: rgba(113, 214, 214, 0.4);
            margin-top: 14%;
            margin-left: 8%;
            margin-right: 8%;
            margin-bottom: 10%;
            text-align:center;
            border-radius: 12px;
        }
        .skillssection
        {
            background-color: rgba(8, 8, 8);
            margin-top: 10%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 10%;
            text-align:center;
            border-radius: 12px;
            padding: 12px;
            color: whitesmoke;
        }
        .skills
        {
            background-color: rgb(240, 217, 184, 0.5);
            border: 2px solid black;
            padding: 20px;
            text-align:center;
            border-radius: 12px;
        }
        .skillssection .skills:hover
        {
            color: rgb(216, 193, 61);
        }
        .skillscontainer
        {
            margin-left: 24px;    
        }
        .educationsection
        {
            background-color: rgb(100, 149, 237,0.3);
            margin: 3%;
            display: flex;
            border-radius: 30px;
        }
        .educationsection h3
        {
            text-transform: capitalize;
            color: brown;
            margin-top: 16px;
            margin-bottom: 12px;
            text-align: center;
        }
        .educationsection div
        {
            padding: 12px;
            text-align: center;
        }
        .educationsection b
        {
            color: rgb(96, 139, 10);
        }
        .addresssection
        {   
        }
        #addressrestyle
        {
            background-color: rgb(90, 228, 228, 0.5);
            justify-content: center;
            border-radius: 20px;   
        }
        .addressstyle
        {
            margin-top: 12px;
            margin-bottom: 12px;
        }
        .addresssection h4
        {
            text-align: center;
            padding: 10px;
        }
        .addresssection .container
        {
            margin-top: 10%;
            margin-left: 10%;
        }
        .projectsection
        {
            text-align: center;
            margin: 10%;
            background-color: rgb(94, 165, 226);
            border-radius: 20px;
        }
        .projectsection h3
        {
            font-weight: bolder;
        }
        .projectsection h4
        {
            font-weight: bolder;
        }
        #Projectid
        {
            margin-top: 48px;
            margin-bottom: 24px;
        }